* {
    box-sizing: border-box;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
width: 15%;
padding: 16px;
background-color: #f1f1f1;
padding-bottom: 20px;
border-radius: 4%;
margin-bottom: 20px;
float: left;
margin-right: 50px;

}
body{
margin: 0 auto;
display: block;
}

img {
border-radius: 50%;
}